.logo{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.category{
    font-weight: 400;
}


.blur-bg {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px); /* For Safari */
  }
  .MuiInputBase-input.Mui-disabled {
  color: #000 !important; /* Màu chữ rõ nét */
  -webkit-text-fill-color: #000 !important; /* Đảm bảo không bị ghi đè */
  opacity: 1 !important; /* Loại bỏ độ trong suốt */
}
